@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins';
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* Rongad */
.slide-b {
  border: 3px solid #fff;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.rongad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

/* SLIDES */
.slider {
  width: 1248px;
  min-height:667px;
  position: relative;
  border-radius: 12px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.slide.current {
  opacity: 1;
}

.content {
  padding: 40px;
  background: linear-gradient(180deg, rgba(253, 185, 38, 0) 0%, rgba(253, 185, 38, 0.5) 100%);
  height: 100%;
  
}

.content h1 {
  text-transform: uppercase;
  background-color: #000;
}

.read-more {
  background-color: transparent;
  color: #DB0A40;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 48px;
  border: 2px solid #DB0A40;
}

/* Right side of slider */
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.fas {
  margin: 0 12px;
  font-size: 20px;
  background-color: transparent;
  font-weight: 100;
}

.to-next {
  color: #000;
  writing-mode: vertical-lr;
  rotate: 180deg;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}





/* Backgorund Images */
 
.slide:first-child {
  background: url('./img/photo1.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('./img/photo2.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('./img/photo3.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('./img/photo4.jpg') no-repeat
    center top/cover;
}
